@media screen and (max-width: 767px) {
    .page-header,
    .page-content {
      position: static;
      width: 100%;
    }
  
    .page-header {
      padding: 10px;
    }
  
    .page-header nav {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .page-header .logo {
      margin: 0;
    }
  
    .page-header .logo img {
      width: 40px;
      height: 40px;
    }
  
    .page-header .toggle-mob-menu {
      display: block;
    }
  
    .page-header .admin-menu {
      position: absolute;
      left: 98px;
      top: 57px;
      margin-top: 0;
      z-index: 2;
      border-radius: var(--border-radius);
      background: var(--page-header-bgColor);
      visibility: hidden;
      opacity: 0;
      transform: scale(0.95);
      transition: all 0.2s;
    }
  
    .page-header .admin-menu li:nth-last-child(2) {
      margin-bottom: 12px;
    }
  
    .page-header .admin-menu li:last-child button,
    .search-and-user .admin-profile .greeting {
      display: none;
    }
  
    .page-content {
      min-height: 0;
      padding: 10px;
    }
   
    .search-and-user {
      position: relative;
      left: 131px;
      top: 10px;
      padding: 0;
      grid-column-gap: 5px;
      width: calc(100% - 141px);
      border-radius: var(--border-radius);
      background: transparent;
    }
  
  }


