.salas-set {
    align-items: center;
    text-align: center;
    cursor: pointer; 
}


.list {
    display: inline-block;

}

.display-set {
    
    display: flex;
    justify-content: center;
    margin-left: 15%;
    height: 500px;
    width:50%;
    margin:0 auto;
    border:0;
    box-shadow: 0 5px 30px darkgrey;
    border-spacing: 0;
    overflow-y: scroll;
    cursor: pointer;
    margin-top: 50px;
}

.tabela {
    text-align: center;
    width: 100%;
    

}


.tabela thead th  {
    font-weight: bold;
    background-color:#242e42;
    color:#FFF;
     
    
}


#tt tr:hover td{
    background-color: #242e42;
    color: #FFF;
}

#tt tr:nth-child(odd){
    background-color: #eee;
  }


#tt tr.selecionado {
    background-color: #242e42;
    color: #FFF;
}


.imagem-set {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.imagem-set i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #242e42;
    font-size: 2em;
    margin-left: 30px;
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 10.1vh;
    background-color: #FFF;
    border: 4px solid #242e42;
    box-shadow: 0 2px 15px #242e42;
    cursor: pointer;
}
i:hover{
    background-color: #242e42;
    border: 7px solid #242e42;
    color: #FFF;
    transition: 500ms;  
}


@media screen and (max-width: 1650px) {
    .imagem-set i {
        width: 90px;
    }
}