@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;400&display=swap');

body {
    margin:0px;
    padding:0px;
    background-color:#fcfcfc;
    font-family: "Open Sans", arial;
    color:#FFF;
	font-weight: 300;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}


.status-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    float: right;
    background: #f0f0f0;
}

.status-title {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 60px;
    float: right;
    top: 0;
    background: #c6d7a0;

}

.status-title > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Changa', sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: #000;
}

.container-system {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    top:180px;
}

.container-system > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Changa', sans-serif;
    font-size: 26px;
    font-weight: 200;
    color: #000;
}

.on-button {
    background-color: #c6d7a0;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    color:#000;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
}

.restart-button {
    background-color: #c6d7a0;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding-top: 12px;
    color:#000;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
}

#class-selector {
    background-color: #c6d7a0;
    width: 450px;
    height: 75px;
    border-radius: 20px;
    border: none;
}

footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 0.75em;
    text-align: center;
    bottom: 0;
    margin-bottom: 1em;
    color: #000;
    z-index: 1;
}

footer > p {
    font-family: 'Changa', sans-serif;
    font-size: 15px;
    font-weight: 200;
    color: #000;
}

footer > img {
    height: 30px;
    width: 30px;
}

