
.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-container label {
    margin-left: 12px;
}

.login-container form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-container form .input-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.login-container form .input-container label {
    margin-bottom: 0.85vh;
    font: 1rem;
    line-height: 1.1rem;
}

.login-container form .input-container input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1.5vh ;
    width: 25vw;
    height: 4.5vh;
    border: 1px solid #242e42;
    border-radius: 15px;
    margin-bottom: 2vh;
}


.login-container form .btn-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 20vw;
    height: 5.5vh;
    margin-top: 25px;

    background-color: #242e42;
    border-radius: 15px;
    border: none;

    font-size: 1.25rem;
    font-weight: 500;
    font-weight: 1.5rem;
    color: #FFF;
}

.login-container form .btn-login:hover {
    cursor: pointer;
    opacity: 98%;
}