table{
    width: 100%;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
   }

tbody tr:nth-child(odd){
    background-color: #c6c6c6;
}

tbody tr:nth-child(even){
    background-color: #ffffff;
}

tbody{
    align-items: center;
    text-align: center;
    
}
td , th{
    padding: 15px 20px;
    text-align: center;
}

th{
    background-color: #242e42;
    color: #dde9f8;
    font-family: 'Open Sans',Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
   
   }

tr{
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}


.dataTables_info{
    display: none;
}   

#example_previous, #example_next{
    border: 1px solid black;
    border-radius: 10px;
}

#example_paginate{

}

#example_paginate > a{
    padding: 5px;
    border: 1px solid black;
}

#example_paginate > span > a{
    margin: 5px;
}

/* Media Cellphone */

@media (min-width:280px) and (max-width:760px) {
 
    thead{
        display: none;
    }
  
    tbody{
        font-size: 12px;
    }
  
    /* coloca as celulas em coluna */
    tbody > tr{
        display: flex;
        flex-direction: column;
    }
  
  }
  

