/* PAGE CONTENT STYLES*/
.page_content {
  position: relative;
  left: 220px;
  width: calc(100% - 220px);
  min-height: 100vh;
  padding: 30px;
  color: #171616;
  background: #f0f1f6;
}


i {
  cursor: pointer;
  margin-right: 15px;
}

.botao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 20vw;
  height: 5.5vh;
  margin-top: 25px;

  background-color: #242e42;
  border-radius: 15px;
  border: none;

  font-size: 1.25rem;
  font-weight: 500;
  font-weight: 1.5rem;
  color: #fff;
}

.botao:hover {
  cursor: pointer;
  opacity: 98%;
}

.search_and_user {
  display: flex;
  justify-content: end;
  align-items: center;
  background: #f0f1f6;
  margin-bottom: 30px;
}

.search_and_user .admin_profile {
  display: flex;
  align-items: center;
}

.search_and_user .admin_profile .greeting {
  margin: 0 10px 0 20px;
}

.search_and_user .admin_profile i {
  font-size: 30px;
}

.search_and_user .admin_profile .badge {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -3px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  background: #ec1848;
}

.center {
  display: flex;
  gap: 10px;
}

.page_content .grid {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 8vh;
}

/* Tira a imagem de Logado no mobile*/
@media (min-width: 280px) and (max-width: 560px) {
  .search_and_user {
    display: none;
  }
}

@media (min-width: 280px) and (max-width: 760px) {
  .page_content {
    left: 0;
    width: 100%;
  }
}

table {
  width: 100%;
  border-spacing: 0;
  box-shadow: 0 2px 15px rgba(64, 64, 64, 0.7);
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;
}

tbody tr:nth-child(odd) {
  background-color: #c6c6c6;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.iniciarChamada {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 20vw;
  height: 5.5vh;
  margin-top: 25px;

  background-color: #242e42;
  border-radius: 15px;
  border: none;

  font-size: 1.25rem;
  font-weight: 500;
  font-weight: 1.5rem;
  background-color: green;
}

.pararChamada {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 20vw;
  height: 5.5vh;
  margin-top: 25px;

  background-color: #242e42;
  border-radius: 15px;
  border: none;

  font-size: 1.25rem;
  font-weight: 500;
  font-weight: 1.5rem;
  background-color: red;
}

tbody {
  align-items: center;
  text-align: center;
}
td,
th {
  padding: 15px 20px;
  text-align: center;
}

th {
  background-color: #242e42;
  color: #dde9f8;
  font-family: "Open Sans", Sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

tr {
  width: 100%;
  background-color: #fafafa;
  font-family: "Montserrat", sans-serif;
}

.dataTables_info {
  display: none;
}

#example_previous,
#example_next {
  border: 1px solid black;
  border-radius: 10px;
}

#example_paginate > a {
  padding: 5px;
  border: 1px solid black;
}

#example_paginate > span > a {
  margin: 5px;
}

/* Media Cellphone */

@media (min-width: 280px) and (max-width: 760px) {
  thead {
    display: none;
  }

  tbody {
    font-size: 12px;
  }

  /* coloca as celulas em coluna */
  tbody > tr {
    display: flex;
    flex-direction: column;
  }

  .projeto{
    	display: flex;
      padding: 60px;
  }


  form button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1.5vh;
    width: 25vw;
    height: 4.5vh;
    border: 1px solid #242e42;
    border-radius: 15px;

    border: none;

    font-size: 1.25rem;
    font-weight: 500;
    font-weight: 1.5rem;
    color: #FFF;
}

  form button:hover {
    cursor: pointer;
    opacity: 95%;
}

  
  form select {
    padding: 1.5vh ;
    width: 25vw;
    height: 4.5vh;
    border: 1px solid #242e42;
    border-radius: 15px;
    margin-top: 10px;

  }


    .search_and_user {
      display: flex;
      justify-content: end;
      align-items: center;
      background: #f0f1f6;
      margin-bottom: 30px;
    }
    
    .search_and_user .admin_profile {
      display: flex;
      align-items: center;
    }
    
    .search_and_user .admin_profile .greeting {
      margin: 0 10px 0 20px;
    }
    
    .search_and_user .admin_profile i {
      font-size: 30px;
    }
    
    .search_and_user .admin_profile .badge {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -10px;
      right: -3px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      font-size: 10px;
      color: #FFF;
      background: #ec1848;
    }
    .center{
        display: flex;
        gap: 10px;
    }
    
    .page_content .grid {
        align-items: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 8vh;
    }
    
    /* Tira a imagem de Logado no mobile*/
  @media(min-width:280px) and (max-width:560px) {
    .search_and_user{
      display: none;
    }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  tbody{
      align-items: center;
      text-align: center;
      
  }
  td , th{
      padding: 15px 20px;
      text-align: center;
  }
  
  th{
      background-color: #242e42;
      color: #dde9f8;
      font-family: 'Open Sans',Sans-serif;
      font-weight: 200;
      text-transform: uppercase;
     
     }
  
  tr{
      width: 100%;
      background-color: #fafafa;
      font-family: 'Montserrat', sans-serif;
  }
  
  
  .dataTables_info{
      display: none;
  }   
  
  #example_previous, #example_next{
      border: 1px solid black;
      border-radius: 10px;
  }
  
  #example_paginate > a{
      padding: 5px;
      border: 1px solid black;
  }
  
  #example_paginate > span > a{
      margin: 5px;
  }
  
  /* Media Cellphone */
  
  @media (min-width:280px) and (max-width:760px) {
   
      thead{
          display: none;
      }
    
      tbody{
          font-size: 12px;
      }
    
      /* coloca as celulas em coluna */
      tbody > tr{
          display: flex;
          flex-direction: column;
      }
    
    }
  }
}
    
  
  
